---
layout: layout-single.njk
emoji: 🌿 
---
<section class="article-container">
     <article>
          <a href="{{ page.url }}"><h2>{{ pageTitle }}</h2></a>
          {{ content | safe }}
          <p class="post-meta">Posted on: {{ page.date | toUTCString }}</p>
          <p class="post-meta"><a href="{{ page.url }}">#</a></p>
          <p class="post-meta"> {{ page.data.note }}</p>
     </article>
</section>