<footer>
    <p><a href="{{ metadata.feed.path | url }}">feed</a> | built with <a href="https://www.11ty.dev">eleventy</a> and <a href="https://www.netlify.com">netlify</a> | end of blog</p>
</footer>