<div class="footer-margin">
    <footer>
        <ul>
            <li>built with <a href="https://www.11ty.dev">eleventy</a> and <a href="https://www.netlify.com">netlify</a></li>
            <li>📡 <a href="{{ metadata.feed.path | url }}">feed</a></li>
            <li>end of blog</li>
        </ul>
    </footer>
</div>