---
layout: wrapper.njk
---

        {% if pagination.href.previous %}
                {% include "header-single.njk" %}
        {% else %}
                {% include "header.njk" %}
        {% endif %}
        <main>
        {{ content | safe }}
        {{ pages.href.previous }}
        </main>
        {% include "footer.njk" %}