@use 'prism';
@use 'normalize';
@mixin shade { box-shadow: 0 0 5px #999999; }

body {
	background-color: #f9f9f9;
    color: #555555;
    font-family: portada, serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: adelle-sans, sans-serif;
    font-weight: 700;
    /* text-transform: uppercase; */
}

main, header, footer {
    width: clamp(52vw, 62ch, 90vw);
    margin: 0 auto;
}

a {
    text-decoration: underline;
    transition: color 0.5s, text-decoration-color 0.8s;
    &:link {
        color: #888888;
        text-decoration-color: rgba(136,136,136,0);
        }
    &:hover {
        color: #aaaaaa;
        text-decoration-color: rgba(170,170,170,1);
    }

    &:active {
        color: #ffffff;
        text-decoration-color: rgba(255,255,255,1);
    }

    &:visited {
        color: #333333;
        text-decoration-color: rgba(51,51,51,0);
    }
}



.post-meta {
    font-family: adelle-sans, sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.ql-meta {
    font-family: adelle-sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.quicklink {
    font-family: adelle-sans, sans-serif;
    font-size: 19px;
}

.page-nav {
    padding-inline-start: 0;
    li {
    display: inline;
    list-style-type: none;
    font-family: adelle-sans, sans-serif;
    }
}

pre {
    padding: 1em;
    background-color: #333333;
    border-radius: 0.5em;
    white-space: pre-wrap;
    @include shade;
} 

article {
    padding: 0 0 1em 0;
    img {
        display: block;
        margin: 0 auto;
        width: clamp(52vw, 62ch, 90vw);
        border-radius: 0.5em;
        @include shade;
    }
}

blockquote {
    font-style: italic;
    color: #888888;
}

iframe {
    display: block;
    margin: 0 auto;
    border-radius: 0.5em;
    max-width: 700px;
    @include shade;
}

hr {
    border-top: 1px solid #999999;
}