---
layout: layout.njk
pageTitle: Welcome to my blog!
pagination:
  data: collections.blogpost
  size: 3
  reverse: true
  alias: pages
---
<ul class="page-nav">
{% for post in collections.about %}
<li><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></li> |
{% endfor %}
</ul>
{% for post in pages %}
<article>
	<h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2>
	<p>{{ post.templateContent }}</p>
	<p class="post-meta"><a href="{{ post.url }}"># {{ post.date | date: "%b %d, %Y" }}</a></p>
	</article>
	{% endfor %}


<div class="post-meta">
	{% if pagination.href.previous %}
	<a href="{{ pagination.href.previous }}">Newer Posts</a>
	{% endif %} 
	{% if pagination.href.previous and pagination.href.next%} | {% endif %}
	{% if pagination.href.next %}
	<a href="{{ pagination.href.next }}">Older Posts</a>
	{% endif %}
</div>

<hr />

<div>
	<h3>Quick Links and Asides</h3>
	{% for post in collections.quicklink %}
	<article class="quicklink">
		{{ post.templateContent }}
		<a href="{{ post.url }}">#</a> <span class="ql-meta">from {{ post.date | date: "%b %d, %Y" }}</span>
	</article>
	{% endfor %}
</div>
