---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - tagList 
    - all
    - nav
    - post
    - posts
    - about
    - error
  addAllPagesToCollections: true
layout: layout-single.njk
eleventyComputed:
  pageTitle: Posts tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<section class="article-container">
<h1>Posts tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
<hr>
</section>